@use '../abstracts/mixins' as *;

.sg-library__modal {
  @include full-screen-fixed;
  // @include themify() {
  //   background-color: themed('background-color');
  // }
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-y: auto;
  pointer-events: auto;
  z-index: 999;
  &--open {
    visibility: visible;
  }
  &--close {
    visibility: hidden;
  }
  &-dialog {
    border: none;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 0px;
    row-gap: 50px;
    padding: 10px;
    width: 85%;
    z-index: 1000;
    @include media-breakpoint('min', tablet) {
      max-width: 650px;
    }
    &--open {
      opacity: 1;
      transform: scale(1);
    }

    &--close {
      opacity: 0;
      transform: scale(0.95);
    }
  }

  // &-title,
  // &-children {
  //   @include themify() {
  //     color: themed('text-color');
  //   }
  // }

  &-title {
    grid-area: 1 / 1 / 2 / 2; // first row, first column
    justify-self: start;
  }

  &-close {
    grid-area: 1 / 2 / 2 / 3; // first row, second column
    background: none;
    border: none;
    cursor: pointer;
    justify-self: end;
    position: relative;
    right: -5px;
  }

  &-children {
    grid-area: 2 / 1 / 3 / 3; // second row, all columns
    text-align: center;
    width: 100%;
  }

  &-btn {
    grid-area: 3 / 1 / 4 / 3; // third row, all columns
    margin: 0 auto;
  }
}
